<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <title>VIP卡详情</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> VIP卡管理 
	<span class="c-gray en">&gt;</span> VIP卡详情 
	<span class="c-gray en">&gt;</span> <?php echo $vip_info['pro_name']; ?> 邀请码
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	邀请码共 <?php echo $co['count']; ?> 张，<?php echo $co['usenum']; ?> 张已使用，<?php echo $co['locknum']; ?> 张已锁定，<?php echo $co['nousenum']; ?> 张未使用
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="150">邀请码</th>
            <th width="40">状态</th>
            <th width="40">关联日期</th>
            <th width="100">关联者VIP卡</th>
            <th width="60">关联者姓名</th>
            <th width="60">关联者手机</th>
        </tr>
        </thead>
        <volist name='code_list' id="c">
            <tr class="text-c">
                <td>{$c.number}</td>
                <td><?php if($c['status'] == 0){echo '未使用';}elseif($c['status'] == 1){echo '已锁定';}elseif($c['status'] == 2){ echo '已使用';} ;?></td>
                <td><?php if($c['status'] == 1 || $c['status'] == 2 ){echo date('Y-m-d H:m',$c['info']['dateline']);} ?></td>
                <td>{$c.info.number}</td>
                <td>{$c.info.uname}</td>
                <td>{$c.info.mobile}</td>
            </tr>
        </volist>
    </table>

</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
</body>
</html>