<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/admin/css/main.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jCalendar.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/admin/js/jquery.XYTipsWindow.min.2.8.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mydate.js"></script>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css"
	id="skin" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
</head>
<body>
	<nav class="breadcrumb"> <i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span>
	会员收益 <span class="c-gray en">&gt;</span> 会员收益详情 <a
		class="btn btn-success radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="page-container">
		<table class="table table-border table-bordered table-bg"
			style="width: 400px">
			<tr>
				<td>姓名</td>
				<td>{$income.uname}</td>
			</tr>
			<tr>
				<td>手机</td>
				<td>{$income.mobile}</td>
			</tr>
			<tr>
				<td>会员等级</td>
				<td>{$income.g_name}</td>
			</tr>
			<tr>
				<td>总收益</td>
				<td>{$income.amount}</td>
			</tr>
			<tr>
				<td>未进入结算周期金额</td>
				<td>{$income.cycle_amount}</td>
			</tr>
			<tr>
				<td>可提现金额</td>
				<td>{$income.allow_amount}</td>
			</tr>
			<tr>
				<td>申请中提现金额</td>
				<td>{$income.incash_amount}</td>
			</tr>
			<tr>
				<td>已提现金额</td>
				<td>{$income.already_amount}</td>
			</tr>
		</table>
		<br/>
		<table class="table table-border table-bordered table-bg">
			<thead>

				<tr class="text-c">
					<th width="40">日期</th>
					<th width="100">推荐类型</th>
					<th width="100">推荐金额（元）</th>
					<th width="100">佣金比例</th>
					<th width="150">佣金金额（元）</th>
					<th width="100">卡号</th>
				</tr>
			</thead>

			<tbody id="news_option">
				<!-- 遍历 -->
				<volist name="incomeinfo" id="v" empty="暂时没有数据">
				<tr data-id="{$v.id}" data-name="{$v.uname}" class="text-c">
					<td>{$v.optime}</td>
					<td>{$v.card_type}</td>
					<td>{$v.iamount}</td>
					<td>{$v.percent}</td>
					<td>{$v.amount}</td>
					<td>{$v.card_number}</td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
</body>
</html>