<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/admin/css/main.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jCalendar.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/admin/js/jquery.XYTipsWindow.min.2.8.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mydate.js"></script>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css"
	id="skin" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
</head>
<body>
	<nav class="breadcrumb"> <i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span>
	会员收益 <span class="c-gray en">&gt;</span> 会员收益详情 <a
		class="btn btn-success radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="page-container">
	<form action="{:U('User/newincomeopt')}" method="post">
		<table class="table table-border table-bordered table-bg"
			style="width: 400px">
			<tr>
				<td>姓名</td>
				<td>{$incomelog.uname}
				<input type="hidden" name="id" value="{$incomelog.id}" />
				<input type="hidden" name="uid" value="{$incomelog.uid}" />
				<input type="hidden" name="number" value="{$incomelog.number}" />
				</td>
			</tr>
			<tr>
				<td>提现金额</td>
				<td>{$incomelog.number}</td>
			</tr>
			<tr>
				<td>手机</td>
				<td>{$incomelog.mobile}</td>
			</tr>
			<tr>
				<td>持卡人姓名</td>
				<td>{$incomelog.cardholder}</td>
			</tr>
			<tr>
				<td>卡号</td>
				<td>{$incomelog.cardnumber}</td>
			</tr>
			<tr>
				<td>收入详情</td>
				<td><a href="{:U('User/income_info')}?id={$incomelog.uid}">查看详情</a></td>
			</tr>
			<tr>
				<td>申请日期</td>
				<td>{$incomelog.optime}</td>
			</tr>
			<tr>
				<td>操作</td>
				<td><select name="status">
					<option value="0">请选择</option>
					<option value="1">通过</option>
					<option value="2">驳回</option>
				</select>已打款用户才可修改为已结算，请谨慎操作</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="submit" value="提交" class="btn" border="0" /></td>
			</tr>
		</table>
		</form>
	</div>
</body>
</html>